<!DOCTYPE html>
<html ng-app="evaluator">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
  </head>
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <body ng-controller="uploadController">
    <h1> Input File </h1>  
    <input type="file" on-read-file="showContent($fileContent)"> </input>
    <div ng-if="content">
    <p> {{content}} </p>
    </div>
    <h2> Schema File </h2>
    <input type="file" on-read-schema="display($fileContents)"></input> 
    <div ng-if="schemaContent">
    <p> {{schemaContent}} </p> 
    </div> 
  </body> 
  

</html>
