<!DOCTYPE html>
<html ng-app="evaluator">
<link rel="stylesheet" type="text/css" href="css/test.css">
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="Controllers/formController.js"></script>
<script type="text/javascript" src="utility_js/saveToFile.js"></script>
<title>Schema Validator Table Layout</title>
</head>

<body ng-controller="uploadController">

<form name="validateSchema" ng-controller="formController as validateSchemaCtrl" ng-submit="validateSchemaCtrl.validate()">
<div id="formTable" style="width:100%; height: 100%">
<table style="float:center" border="1">
	<tr style="height:50%" valign="top">
		<td style="width:50%"">
			<h3> Input File </h3>
			<input ng-model="validateSchemaCtrl.validate.inputFile" type="file" on-read-file="showContent($fileContent)"> </input>
    		<div style="display:table-cell; overflow-x:scroll; overflow-y:scroll" ng-if="content">
    			<p> {{content}} </p>
    		</div>
    		<div style="overflow: hidden; position: relative; width: 3px; height: 0px; top: 141px; left: 124.835083007813px;"><textarea autocorrect="off" autocapitalize="off" style="position: absolute; padding: 0px; width: 1000px; height: 1em; outline: none;" tabindex="0"></textarea></div>
		</td>
		<td style="width:50%">
			<h3> Schema File </h3>
			<input ng-model="validateSchemaCtrl.validate.schemaFile" type="file" on-read-schema="display($fileContents)"></input> 
    		<div style="display:table-cell; overflow-x:scroll; overflow-y:scroll" ng-if="schemaContent">
    			<p> {{schemaContent}} </p> 
    		</div> 
		</td>
	</tr>	
	<tr valign="bottom">
		<td colspan="2">
			<select ng-model="validateSchemaCtrl.validate.direction">
				  <option value="txtToXML">Text to XML</option>
				  <option value="CSVToXML">CSV to XML</option>
				  <option value="XMLToTxt">XML to text</option>
			</select>
			<input type="submit" value="Run Schema"></input>
		</td>
	</tr>
	<tr style="height:35% " valign="top">
		<td colspan="2">
			<textarea id="validationOutput" ng-model="validateSchemaCtrl.validate.result" readonly>
				Output goes here 
			</textarea>
		</td>
	</tr>
	<tr align="right">
		<td colspan="2">
			Filename to Save As: 
			<input id="inputFileNameToSaveAs"></input>
			<button onclick="saveTextAsFile()">Save</button>
		</td>
	</tr>
</table>
</div>
</form>
</body>
</html>
