<!DOCTYPE html>
<html ng-app="evaluator">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/> 
  <link rel="stylesheet" type="text/css" href="css/example.css"/>
  <head>
  </head>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-resource.js"></script> 
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/ui-bootstrap-tpls-0.13.0.min.js"></script>
  <form name="validationForm" onsubmit="scriptSubmit()" method="post" enctype="multipart/form-data">
<!--       <form id="my_form" name="validationForm" enctype="multipart/form-data"> --> 
  
  <div class="container" ng-app="evaluator" ng-controller="uploadController"> 
  <div class="row con">
    <div class="col-sm-6 scrollit" > 
      <h2> Input File </h2> 
      <input type="file" on-read-file="showInput($fileContent)" name="inputFile" required></input> 
      <div class="ifile" ng-if="inputContent"> 
         <pre> {{inputContent}} </pre> 
      </div>
     </div>
    <div class="col-sm-6 scrollit">
      <h3> Schema File </h3> 
      <input type="file" on-read-schema="showSchema($fileContents)" name="schemaFile" required></input> 
      <div class="sfile" ng-if="schemaContent">
        <pre> {{schemaContent}} </pre>
      </div> 
    </div> 
   </div> 
  <div class="row">
    <div class="col-sm-12 result">
       <div class="btn-group" style="margin:10px" dropdown ng-controller="MainCtrl">
 <!--      <select ng-init="directionSelect = items[0]" ng-model="directionSelect" ng-options="item as item.name for item in items"></select> <pre>{{directionSelect.value}}</pre> --> 
<select name="direction" required>
				  <option value="text to xml">Text to XML</option>
				  <option value="CSV To XML">CSV to XML</option>
				  <option value="xml to text">XML to text</option>
			</select>
	<input type="submit" value="Run Schema" ></input>

 <!--     <button onclick="pingServerGET()"">GET test</button><button onclick="pingServerPOST()"">POST test</button> 			
 
 <button type="button" class="btn btn-danger" send-file>Run Schema</button>
			
      <button type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">XML to Text</a></li>
        <li><a href="#">Text to XML</a></li>
        <li><a href="#">CSV to XML</a></li>
      </ul>-->  
    </div>
    <div class="form-group">
      <label for="output">Output: </label> 
      <textarea class="form-control" rows="12" id="comment"  style="overflow-y:scroll" name="comment"></textarea> 
      <label>Save File As: </label>
      <input id="enter_name" ng-model="inputName"> </input>
      <button type="button" class="btn btn-primary" style="margin:10px"  id="add_link" download-file> Download File  </button>      
    </div> 
  </div>
  </div>
  </div>
  </form>

</html>
