<!DOCTYPE html>
<html ng-app="evaluator" style="background-color:#4FA5C9; padding-left: 1em; padding-right: 1em; padding-bottom: 1em;">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/> 
  <link rel="stylesheet" type="text/css" href="css/example.css"/>
  <head>
  </head>
  
   <script type="text/javascript" src="resourceJS/angular.min.js"></script>
  <script type="text/javascript" src="resourceJS/angular-resource.js"></script> 
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/mainCtrl.js"></script>
  <script type="text/javascript" src="js/modalCtrl.js"></script>
  <script type="text/javascript" src="js/directives.js"></script>
  <script type="text/javascript" src="services/services.js"></script> 
  <script type="text/javascript" src="resourceJS/ui-bootstrap-tpls-0.13.0.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-mocks/angular-mocks.js"></script>

  <script type="text/javascript" src="js/loginCtrl.js"></script> 
  <script type="text/javascript" src="bower_components/ngstorage/ngStorage.js"></script>
  
<div id="topBanner" style="background-color:#4FA5C9; padding-left: 5em" ng-init="onLoad()" ng-controller="ModalCtrl">

	<object type="image/svg+xml" data="images/workdayLogo.svg"></object>
	
	 <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Instructions</h3>
        </div>
        <div class="modal-body" style="background-color:#fafafa">
          <h4 style="font-size:12px">1. Click <button style="background-color:#ffffff" disabled>Choose File</button> to select the desired input and schema file </h4>
          <h4 style="font-size:12px">2. Use <select disabled><option required>TXT to XML</option></select> to select transformation direction  </h4>
          <h4 style="font-size:12px">3. Click <button class="btn-xs btn-warning" disabled>Run Schema</button> to validate input file against schema file </h4> 
          <h4 style="font-size:12px">4. Save result to file with <button class="btn-xs btn-warning" disabled>Save As</button>  </h4> 
			<br><br>
          <h8 style="font-size:12px">&nbsp;&nbsp;&nbsp;&nbsp;*Click <button class="btn-xs btn-danger" disabled>Help!</button> to view instructions.  </h8> 
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" id="modalOK" ng-click="ok()">OK</button>
        </div>
    </script>
    <button class="btn-xs btn-danger pull-right" ng-click="open()" title="Usage Instructions">Help!</button>
    
</div>

<div ng-include="contentUrl" ng-controller="uploadController">

</div>
</html>
